# Environment variables
.env
.env.*

# Django logs/media/static
*.log
media/
staticfiles/

# Local SQLite database
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

# Firebase secret key
config/firebase/serviceAccountKey.json


# Python cache
__pycache__/
*.py[cod]