# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment Variables
.env
.env.*

# Django logs/media/static
*.log
media/
staticfiles/



# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

# Firebase secret key
config/firebase/serviceAccountKey.json